body {
  overflow-x: hidden;
  margin: 0;
}

.nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  width: 10vw;
  display: flex;
  margin-left: 2vw;
}

.logo {
  width: 10vw;
}

.menu-area {
  display: flex;
  margin-right: 6vw;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 0.75vw 2vw;
  margin-left: 0.5vw;
  font-size: 1vw;
  font-weight: 500;
}

.my-page {
  background-color: black;
  color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
}

.main-container {
  width: 100vw;
  min-height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-text {
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: -0.5vw;
  margin: 0;
}

.main-text-2 {
  font-size: 2.5vw;
  font-weight: 700;
  margin: 6vw;
}

.main-text-3 {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 1.2vw;
  margin: 0;
}

.font-bold {
  font-weight: bold;
}

.main-text-container-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-text-container-3 {
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text-container-4 {
  position: absolute;
  width: 35vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 36vw;
}

.main-text-container-5 {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text-4 {
  font-size: 1.4vw;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
}

.main-text-5 {
  font-size: 1.4vw;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5vw;
}

.main-text-6 {
  font-size: 2.5vw;
  font-weight: 600;
  margin-left: 7vw;
  margin-top: 0;
  margin-bottom: 1vw;
  letter-spacing: 0.8vw;
}

.main-text-7 {
  font-size: 1.4vw;
  font-weight: 500;
  margin-left: 7vw;
  margin-top: 0;
  margin-bottom: 0.5vw;
}

.who-we-are-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-we-are-img {
  width: 100vw;
  height: auto;
  display: block;
}

.swiper-container {
  position: relative;
  width: 90vw;
  height: 35vw;
}

.swiper-header {
  position: absolute;
  left: 2vw;
  margin-top: 1vw;
  font-size: 2vw;
  font-weight: bold;
  color: black;
  z-index: 10;
}

.swiper {
  width: 90vw;
  height: 35vw;
  border-radius: 0.5vw;
  background: #E5E5E5;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.slide-item {
  height: 35vw;
  padding-top: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-item img {
  width: 14vw;
  height: 18vw;
  margin-bottom: 1vw;
  background: white;
}

.slide-text {
  margin: 0;
  font-size: 1vw;
  font-weight: bold;
}

.button-container {
  width: 14vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-button {
  width: 6.5vw;
  height: 2vw;
  background: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 0.3vw;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4vw;
  cursor: pointer;
  z-index: 20;
  color: black;
}

.custom-prev {
  left: -0.1vw;
}

.custom-next {
  right: -0.1vw;
}

.product-detail-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}

.product-detail-img-container {
  display: flex;
  flex-direction: column;
  width: 42vw;
  align-items: center;
}

.product-detail-img-sub-container {
  display: flex;
  width: 29vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
}

.product-detail-main-img {
  width: 29vw;
  height: 29vw;
  background: #E5E5E5;
}

.product-detail-sub-img {
  width: 9vw;
  height: 9vw;
  background: #E5E5E5;
}

.product-detail-explanation-container {
  width: 42vw;
  padding: 1vw;
  background: #E5E5E5;
  border-radius: 2vw;
}

.product-detail-explanation-sub-container {
  display: flex;
  flex-direction: row;
  width: 42vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.product-detail-explanation-sub-container-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 10vw;
  height: 4.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.product-detail-sub-text-1 {
  font-size: 1vw;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.2vw;
}

.product-detail-sub-text-2 {
  font-size: 1vw;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.product-detail-text-title {
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 0;
}

.product-detail-text-1 {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 2vw;
  margin-right: 2vw;
}

.product-detail-text-2 {
  font-size: 1vw;
  font-weight: 400;
  margin-top: 0;
  margin-left: 2vw;
  margin-right: 2vw;
}

.product-detail-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  border-radius: 1vw;
  height: 3.5vw;
  margin-top: 1vw;
}

.product-detail-button-sub {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8vw;
}

.product-detail-button-text {
  font-size: 1vw;
  font-weight: 500;
  color: white;
  margin: 0;
  margin-left: 2vw;
}